In [4]:
%cd Utils/

C:\Users\pasqu\Progetto_dataset_adult\Utils

*Importiamo le librerie necessarie*

In [5]:
#Librerie DS
import numpy as np
import pandas as pd

#Librerie proprie
from Import_e_info import *

**Carichiamo il dataset da analizzare**

In [6]:
dataset = caricamento_dataset("../Datasets/adult.data")

In [7]:
dataset

,Age,Tipo_lavoro,fnlwgt,Istruzione,Anni_istruzione,Stato_sociale,Occupazione,Condizione_familiare,Etnia,Genere,Cap_guadagnato,Cap_perso,Ore_settimanali,Paese_nativo,Reddito
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

**Osserviamo l'intero dataset**

In [8]:
info = informazioni_dataset(dataset)

In [9]:
tipo = info.tipo_variabili(dataset)

Ci sono 6 variabili numeriche
Ci sono 9 variabili categoriche

**Vediamo se ci sono dati mancanti**

In [10]:
dati_mancanti = info.dati_mancanti(dataset)

Ci sono 1836 dati mancanti per la variabile Tipo_lavoro
Ci sono 1843 dati mancanti per la variabile Occupazione
Ci sono 583 dati mancanti per la variabile Paese_nativo

In [11]:
dataset[dataset["Tipo_lavoro"].isna()]["Reddito"].value_counts()/1836

 <=50K    0.895969
 >50K     0.104031
Name: Reddito, dtype: float64

In [12]:
dataset["Reddito"].value_counts()/len(dataset)

 <=50K    0.75919
 >50K     0.24081
Name: Reddito, dtype: float64